# Copyright (C) 2025, Stephen J. Leary
# All rights reserved.
#

NET "CLKOUT"      LOC="1";
NET "CLKOUT" BUFG=CLK;
NET "CLKOUT" TNM_NET = "CLKOUT"; # gives the net clk a group name as CLKOUT

NET "SCLK"      LOC="29";
NET "SCLK" BUFG=CLK;
NET "SCLK" TNM_NET = "SCLK"; # gives the net clk a group name as SCLK

TIMESPEC "TS_P2P" = FROM "PADS" TO "PADS" 10 ns;

NET "CLK<1>"      LOC="31";
NET "CLK<2>"      LOC="42";
NET "DI"      LOC="27";
#NET "DO"      LOC="28";
NET "LOAD_SHIFT"      LOC="30";

NET "SD<0>"      LOC="32";
NET "SD<1>"      LOC="33";
NET "SD<2>"      LOC="34";
NET "SD<3>"      LOC="37";
NET "SD<4>"      LOC="38";
NET "SD<5>"      LOC="39";
NET "SD<6>"      LOC="40";
NET "SD<7>"      LOC="41";
