# Copyright (C) 2016-2017, Stephen J. Leary
# All rights reserved.
#
# This file is part of TF530 (Terrible Fire 030 Accelerator)
#
# TF530 is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# TF530 is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with TF530. If not, see <http://www.gnu.org/licenses/>.

NET "nIC"      LOC="20";
NET "nMCS"      LOC="89";
NET "nMRD"      LOC="93";
NET "nMWR"      LOC="91";
NET "nPG"      LOC="30";
NET "nROUT"      LOC="33";
NET "nSCS"      LOC="90";
NET "nNMI"      LOC="34";
NET "nSRD"      LOC="94";
NET "nSWR"      LOC="92";
NET "AMP"      LOC="29";
NET "IN0"      LOC="36";
NET "IN1"      LOC="35";
NET "MA0"      LOC="95";
NET "MCLK"      LOC="23";
NET "MD<0>"      LOC="97";
NET "MD<1>"      LOC="2";
NET "MD<2>"      LOC="4";
NET "MD<3>"      LOC="16";
NET "SA0"      LOC="96";
NET "SCLK"      LOC="27";
NET "SD<0>"      LOC="1";
NET "SD<1>"      LOC="3";
NET "SD<2>"      LOC="15";
NET "SD<3>"      LOC="18";

