# This is free and unencumbered software released into the public domain.

# Anyone is free to copy, modify, publish, use, compile, sell, or
# distribute this software, either in source code form or as a compiled
# binary, for any purpose, commercial or non-commercial, and by any
# means.

# In jurisdictions that recognize copyright laws, the author or authors
# of this software dedicate any and all copyright interest in the
# software to the public domain. We make this dedication for the benefit
# of the public at large and to the detriment of our heirs and
# successors. We intend this dedication to be an overt act of
# relinquishment in perpetuity of all present and future rights to this
# software under copyright law.

# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
# IN NO EVENT SHALL THE AUTHORS BE LIABLE FOR ANY CLAIM, DAMAGES OR
# OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
# ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
# OTHER DEALINGS IN THE SOFTWARE.

# For more information, please refer to <https://unlicense.org>


NET "nIC"       LOC="52";
NET "nMCS"      LOC="79";
NET "nMRD"      LOC="77";
NET "nMWR"      LOC="78";
NET "nNMI"      LOC="25";
NET "nPG"       LOC="50";
NET "nROUT"     LOC="28";
NET "nSCS"      LOC="94";
NET "nSRD"      LOC="96";
NET "nSWR"      LOC="95";
NET "AMP"      LOC="49";
NET "IN0"      LOC="23";
NET "IN1"      LOC="24";
NET "MA0"      LOC="76";
NET "MCLK"      LOC="27";
NET "MD<0>"      LOC="74";
NET "MD<1>"      LOC="71";
NET "MD<2>"      LOC="65";
NET "MD<3>"      LOC="55";
NET "SA0"      LOC="99";
NET "SCLK"      LOC="22";
NET "SD<0>"      LOC="1";
NET "SD<1>"      LOC="6";
NET "SD<2>"      LOC="15";
NET "SD<3>"      LOC="20";

